{% extends 'base/base.html' %}
{% block title %}Instructions{% endblock %}

{% block content %}
<h1>Contest Instructions</h1>

<p>
You all are embarking upon a wonderful quest for beer and points, and hopefully this answers all of your questions. But if not, obviously please let me know and I can try to help.</p>

<h2>The Basics</h2>
<p>There are three ways to earn points in this beer challenge: 1) drink a beer off a designated list; 2) drink a beer that meets a hashtag criterion; or 3) visit a brewery and drink a bunch of different beers. There are also a few bonus points available for drinking all the Beer Icons and for the Best Fizzywater Photo, described more below.</p>

<p>To be awarded credit for such accomplishments, you must check in said accomplishment in <a href="https://untappd.com">Untappd</a>. Therefore, to be a part of this competition, you must become an Untappd user if you are not already.</p>

<h2>List Beers</h2>
<p>The list is diverse, with many different styles, and despite the overwhelming dominance of IPAs in the craft beer market, less than half the list I came up with are IPAs. I also tried to make them relatively easily available in that the 60 standard (non-challenge) beers are all available in bottles or cans, so if you're in the relative vicinity of the breweries you have a good shot of getting to try these beers. Also, the list spans 40 different states now, including the challenge beers, hopefully providing both a challenge and an opportunity no matter where you live.</p>

<p>Checking in a list beer is simple:</p>
<ol>
  <li>obtain and consume a full pour of any of the beers on the list;</li>
  <li>take photographic evidence of said consumption (picture of the bottle, can, tap, or menu, along with whatever scenery you like);
  <li>check in the beer on Untappd and add photo;
  <li>wait for me to give you your awesome points.</li>
</ol>

<p>You are only awarded points the first time you check in a beer, but feel free to consume as much of these delicious beverages as you want.</p>

<h3>What is a full pour?</h3>
<p>A "full pour" of a beer is defined as at least 7 oz. of most beers, though for beers with an alcohol-by-volume (ABV) percentage of 12% or more, I'll consider 6 oz. sufficient.  That means that tasters do not count (except for the brewery challenges). It also means that you should feel free to share your bounty! Split that bomber (22 oz.) up to 3 ways! Or split a tall boy with a friend. But standard small-form bottles and cans cannot be split except in the case of a high-ABV beer.</p>

<h3>Challenge beers</h3>
<p>Hopefully by now you've got the "challenge beer" idea down, but just in case...Every competitor could select a beer to challenge the other competitors. If the challenger drinks that beer, they get +12 points (WOO!). If any other competitors drink that beer, they are awarded +3 points for drinking a "rare" beer, and the challenger loses 3 points (up to -12 points total). Because we had a large number of late recruits and because I cannot add your challenge beer until you sign up for the contest, I will extend the Challenge Beer deadline by two weeks, until Feb 28. I will update the online list accordingly with any adds.</p>

<h3>Series beers</h3>
<p>There are a few beers on the list which are categorized as "series" (Anchorage Patterns; Crooked Stave Nightmare on Brett; KCBC Robot Fish; Triple Crossing Triangles). Because these are evolving series, I can't anticipate the availability or even know what version will be available...but you'll want to give 'em a drink! Checking in any of the beers in these series will qualify as a check-in of the beer (and only one), just like any other beer.</p>

<h3>Beer icons</h3>
<p>I have selected 10 beers this year to recognize as "beer icons". These 10 beers have meant something special to the craftbeer movement, and no doubt you should recognize most of them. Anyone who checks in all 10 beer icons will get a +10 point bonus for being a true craft beer connoisseur. Here are the ten beers and why they were selected (or you can skip ahead to learn about the hashtags):</p>

<dl class="horizontal">
  <dt>Anchor Liberty Ale</dt>
  <dd>Anchor's Liberty Pale Ale is touted as the first American IPA, heavily hopped with nothing but Oregon's own Cascade hops since 1975, providing that quintessential grapefruit flavor that defines the AIPA and really is the cornerstone of the craft beer movement. [Note for competitors: this beer is NOT the same as the Liberty IPA, which is a modern revision of the classic.]</dd>
  
  <dt>Russian River Pliny the Elder</dt>
  <dd>The double IPA was born in San Diego, and through Blind Pig's brewer migration to Russian River, this classic embodies everything that makes the traditional West Coast IPA what it is--clean, hopped as fuck, and just enough body to stand up to the bitterness.</dd>
  
  <dt>Sierra Nevada Northern Hemisphere Harvest Wet Hop Ale</dt>
  <dd>Hops are fragile and degrade rapidly, owing to the oils that give them their oomph. Because of this the vast majority of hops are dried shortly after being harvested. Sierra Nevada sought to capture the freshest flavors possible from this juicy little flavor nugget in its Harvest Wet Hop Ale, which means a shitload of hops need to be added to the brew less than 24 hours from when they are picked.</dd>
  
  <dt>New Belgium Lips of Faith La Folie</dt>
  <dd>New Belgium was one of the breweries most at the forefront of the American Sour movement. While its history is tied to the European tradition, just like American IPAs took hops to 11, New Belgium took the pucker to at least 12. This is the first commercially available American Sour, and it remains as bracing as ever.</dd>
  
  <dt>Oskar Blues Ten FIDY</dt>
  <dd>For those fresh cans of whatever latest local, hazy IPA you have in your fridge, you have Oskar Blues to thank. While not technically the first craft brewery to can, this brewery really kicked off the canning trend with Dale's Pale Ale, and because I won't make you drink that garbage beer, you get one of their other staples, their imperial stout.</dd>
  
  <dt>Dogfish Head 120 Minute IPA</dt>
  <dd>DFH touts its "off-centered" ales, and for me this is the premiere example of what that means. The 120 minutes refers to a process by which DFH adds hops to the beer continuously through the 120 minute boil. This means roughly twice as many hops as their 60-minute IPA, but they then balance this with a shitload of malt. Closer to a barleywine than an IPA, this massive beer now clocks in at about 18% ABV and will knock you on your ass with a profile unlike anything else.</dd>
  
  <dt>Founders KBS</dt>
  <dd>Founders didn't start the barrel-aged stout phenomenon, but those who did are now owned by InBev, and KBS still remains a true icon of the style. For over 15 years, Founders has been aging an imperial version of its breakfast stout in bourbon barrels with some chocolate and coffee beans to create a rich, smooth, desserty beer, and lucky for you it's gone from "line out the door instant sell-out" to "I can get this at my grocery store!"</dd>
  
  <dt>Jolly Pumpkin La Roja</dt>
  <dd>If La Folie is the American take on a sour, Jolly Pumpkin is there to show how American breweries stand up to the European originals. JP makes traditional European-style ales and beats those damned foreigners at their own game, having won international competitions with beer like La Roja.</dd>
  
  <dt>Deschutes Black Butte Porter</dt>
  <dd>As part of Portland's brewpub movement, Deschutes is one of those breweries that defines the craft beer scene. And to do that, you need a lynchpin beer like this porter which is what put them on the map. It is all of the classic chocolate and coffee notes you want in a porter, paired with a generous dose of Cascade and balanced by some European hops.</dd>
  
  <dt>Troegs Mad Elf</dt>
  <dd>Mad Elf is a unique holiday concoction that has stood up as one of the more iconic winter seasonals. Brewed with honey and cherries and a Belgian yeast that gives it that winter spice note, it comes in at a nice 11% ABV to keep you cozy when the temperature dips. And it too has moved from instant sell-out to grocery store shelves--if you haven't experienced it yet, now you have a reason to.</dd>
</dl>

<h2>Hashtag Challenges</h2>
<p>In addition to the list beers, I've issued a few general challenges to all competitors. These hashtag challenges are meant to level the playing field a bit and to learn about beer in everyone's local areas.</p>

<p>To complete a hashtag challenge, you must add the respective #hashtag in your description of the beer!  You can only earn one point per beer, so please only categorize a given check-in under a single hashtag. Also, I am instituting a limit of one point per brewery per hashtag. So, while you might be able to use the same brewery to acquire points under different hashtags (i.e. one for a #brutal and one for #newbrew2019), you cannot gain multiple points for the same brewery under the same hashtag, even if it is with different beers.</p>

<dl class="horizontal">

  <dt>#brutal</dt>
  <dd>Use #brutal when checking in a Brut IPA to gain a point. Brut IPAs are a new-ish style of IPA where an enzyme is used to reduce the residual sugar of the beer, creating a super-dry finish to mimic Brut champagne. The beer must be obviously identified as a Brut IPA in some way: on the bottle/can, by Untappd, in the name itself, etc.</dd>

  <dt>#underthetable</dt>
  <dd>Use #underthetable when checking in any beer with an ABV of 12% or more. In many states, the legal definition of beer has a maximum ABV--in Ohio, for example, Hoppin' Frog Brewery actually got the state to eliminate its 12% limit and celebrated by brewing the Gavel Slammer Dark Ale, which clocks in at over 17%. Drink many of these high-octane beers and find yourself #underthetable. Note: because of the high ABV, you may split a 12 oz bottle of these beers with someone else (just 1 person) and still receive credit.</dd>

  <dt>#newbrew2019</dt>
  <dd>Breweries are opening all over the country still, so to encourage people to check them out and scout them out for the rest of us, if you drink a beer at one of these fine establishments which first opened its doors in 2019, tag the beer with #newbrew2019 to gain a point. If you drink a flight at a new brewery, that also counts--just tag at least one of the tasters. Note: This is for new brewing operations only, either gypsy or housed, but not the conversion between the two nor expansions of a brand like Portland, Modern Times or Roanoke, Deschutes.</dd>

  <dt>#fizzywater</dt>
  <dd>You may have noticed that there are no lagers on the list. That's because there's only one appropriate way to drink a lager: outside. If you drink any lager (as classified by Untappd: Euro, Adjunct, American Light, Craft, etc.) outside, you can get a point for forcing yourself to consume #fizzywater. Remember, part of the requirement is that you drink the beer outside, so your photo must be OUTSIDE.</dd>

  <dt>#fizzywater Awesome Photo Bonus</dt>
  <dd>Since the #fizzywater hashtag means cool, outdoor photos, I will be rewarding bonus points for the best #fizzywater photos. At the end of the year, I will award +5, +3, and +1 bonus points to the 1st, 2nd, and 3rd best #fizzywater photos. I haven't figured out the best way of awarding it yet, but I promise to be impartial! Maybe I'll even have you all vote...who knows? Main point: GOOD PHOTO = CHANCE AT EXTRA POINTS.</dd>
</dl>

<h2>Brewery Challenge</h2>
<p>The brewery challenge works a little bit different. There are 6 breweries on the list this year, 5 normal breweries and 1 "rare" brewery that is carrying over from last year because it is 1) women-owned, 2) delicious, and 3) nobody visited it! To get credit for a brewery, you must visit the brewery (or one of its locations) and order either a flight or at least two full pours. The regular breweries are worth +5 points each, while the rare brewery (Scratch) is worth +10 points!</p>

<h1>Help Improve the Site</h1>

Email <a href="mailto:navin.vembar@gmail.com">Navin</a> if you have any
suggestions on making the site better!
{% endblock %}
